/*nullstyle*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
	line-height: 1;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

:root {
	//colors
	--black: #021112;
	--primary: #13a6ba;
	--accent-3: #772d8b;
	--black-shade: #677071;
	--black-shade-3: #e0e2e3;
	//radio-button
	--form-control-color: #772d8b;
}

* {
	font-family: "Noto Serif", serif;
}

.section-one {
	background-color: #fbedda;
	margin-bottom: 150px;
}

.content {
	max-width: 1620px;
	margin: 0 auto;
}

.header,
ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
}

.header {
	padding: 50px 0;
	margin-bottom: 225px;
}

.navigation__link {
	color: var(--black);
	margin-left: 80px;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.navigation__link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #18272f;
	bottom: -5px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

.navigation__link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.regestration {
	margin-left: 107px;
	color: #fff;
	padding: 10px 25px;
	border-radius: 8px;
	background-color: var(--primary);
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
}

.regestration:hover {
	color: var(--primary);
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home__title {
	font-size: 5rem;
	font-weight: 800;
	line-height: 6.56rem;
	text-align: center;
	max-width: 988px;
	margin-bottom: 31px;
}

.home__subtitle {
	font-size: 1.25rem;
	color: var(--black-shade);
	margin-bottom: 130px;
}

.search {
	width: 1275px;
	height: 273px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
}

.search__filter {
	padding: 45px 55px 30px;
	border-bottom: 1px solid var(--black-shade-3);
}

.filter {
	color: var(--black-shade);
	margin-right: 85px;
	font-size: 1.625rem;
	font-weight: 600;
	background: none;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.filter:hover {
	color: var(--black);
	transition: all 0.2s ease-in-out;
}

#active {
	color: var(--black);
}

#active::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000;
	bottom: -32px;
	border-radius: 10px;
}

.search__parameters {
	display: flex;
	justify-content: start;
	align-items: center;
}

.search__filter-category {
	margin: 33px 88px 33px 88px;
	position: relative;
}

.search__filter-category:last-of-type {
	margin-right: 67px;
}

.search__filter-category::after {
	content: "";
	position: absolute;
	height: 50px;
	width: 1px;
	background-color: var(--black-shade-3);
	right: -80px;
	top: 10px;
}

.search__filter-category:last-of-type::after {
	content: "";
	position: absolute;
	height: 0px;
	width: 0px;
	background-color: var(--black-shade-3);
	right: -80px;
	top: 10px;
}

.search__filter-name {
	font-size: 1.125rem;
	margin-bottom: 10px;
	color: var(--black-shade);
}

.search__filter-name > svg {
	position: absolute;
	left: -35px;
	top: -10px;
}

.search__filter-result {
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 50px;
}

.search__button {
	color: #fff;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	line-height: 29px;
	padding: 27px 55px;
	border-radius: 20px;
	background-color: var(--primary);
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
}

.search__button:hover {
	color: var(--primary);
	background-color: #fff;
}

.properties {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	font-size: 58px;
	color: var(--black);
	margin-bottom: 25px;
}

.subtitle {
	font-size: 18px;
	color: var(--black-shade);
}

.selection {
	display: flex;
	align-items: center;
}

.form-control {
	font-size: 26px;
	font-weight: 600;
	color: var(--black-shade);
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	margin-left: 2.5rem;
}

.form-control__button {
	accent-color: var(--accent-3);
}

.form-control__button:checked + .form-control__text {
	color: var(--accent-3);
}

.swiper-slide__content {
	padding: 2.5rem;
	border-radius: 2.5rem;
}
