/*nullstyle*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 62.5%;
	line-height: 1;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

:root {
	//colors
	--black: #021112;
	--primary: #13a6ba;
	--accent-3: #772d8b;
	--black-shade: #677071;
	--black-shade-2: #cccfd0;
	--black-shade-3: #e0e2e3;
	//radio-button
	--form-control-color: #772d8b;
}

* {
	font-family: "Noto Serif", serif;
}

.section-one {
	background-color: #fbedda;
	margin-bottom: 150px;
}

.content {
	max-width: 101.25rem;
	margin: 0 auto;
	padding: 0 5px;
}

.header,
ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
}

.header {
	padding: 50px 0;
	margin-bottom: 225px;
}

.navigation__link {
	color: var(--black);
	margin-left: 80px;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.navigation__link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #18272f;
	bottom: -5px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

.navigation__link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.regestration {
	margin-left: 107px;
	color: #fff;
	padding: 10px 25px;
	border-radius: 8px;
	background-color: var(--primary);
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
}

.regestration:hover {
	color: var(--primary);
	background-color: #fff;
	transition: all 0.2s ease-in-out;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home__title {
	font-size: 5rem;
	font-weight: 800;
	line-height: 6.56rem;
	text-align: center;
	max-width: 988px;
	margin-bottom: 31px;
}

.home__subtitle {
	font-size: 1.25rem;
	color: var(--black-shade);
	margin-bottom: 130px;
}

.home__art {
	width: 100%;
	object-fit: cover;
}

.search {
	max-width: 1275px;
	height: 273px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.07);
	display: flex;
	flex-direction: column;
}

.search__filter {
	padding: 45px 55px 30px;
	border-bottom: 1px solid var(--black-shade-3);
}

.filter {
	color: var(--black-shade);
	margin-right: 85px;
	font-size: 1.625rem;
	font-weight: 600;
	background: none;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.filter:hover {
	color: var(--black);
	transition: all 0.2s ease-in-out;
}

#active {
	color: var(--black);
}

#active::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #000;
	bottom: -32px;
	border-radius: 10px;
}

.search__parameters {
	display: flex;
	justify-content: start;
	align-items: center;
}

.search__filter-category {
	margin: 33px 88px 33px 88px;
	position: relative;
}

.search__filter-category:last-of-type {
	margin-right: 67px;
}

.search__filter-category::after {
	content: "";
	position: absolute;
	height: 50px;
	width: 1px;
	background-color: var(--black-shade-3);
	right: -80px;
	top: 10px;
}

.search__filter-category:last-of-type::after {
	content: "";
	position: absolute;
	height: 0px;
	width: 0px;
	background-color: var(--black-shade-3);
	right: -80px;
	top: 10px;
}

.search__filter-name {
	font-size: 1.125rem;
	margin-bottom: 10px;
	color: var(--black-shade);
}

.search__filter-name > svg {
	position: absolute;
	left: -35px;
	top: -10px;
}

.search__filter-result {
	font-size: 2.25rem;
	font-weight: 600;
	line-height: 50px;
}

.search__button {
	margin-right: 2rem;
	color: #fff;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	line-height: 29px;
	padding: 27px 55px;
	border-radius: 20px;
	background-color: var(--primary);
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
}

.search__button:hover {
	color: var(--primary);
	background-color: #fff;
}

.section-two {
	margin-bottom: 20rem;
}

.selection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.25rem;
}

.title {
	font-weight: 700;
	font-size: 58px;
	color: var(--black);
	margin-bottom: 25px;
}

.subtitle {
	font-size: 18px;
	color: var(--black-shade);
}

.choice {
	display: flex;
	align-items: center;
}

.form-control {
	font-size: 26px;
	font-weight: 600;
	color: var(--black-shade);
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	margin-left: 2.5rem;
}

.form-control:nth-child(1) {
	margin-left: 0;
}

.form-control__button {
	accent-color: var(--accent-3);
}

.form-control__button:checked + .form-control__text {
	color: var(--accent-3);
}

.swiper {
	padding: 1.3rem !important;
}

.swiper-wrapper {
	margin-bottom: 3.5rem;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.swiper-slide {
	max-width: 32.5rem;
	border-radius: 2.6rem;
	transition: all 0.3s ease-in-out;
	z-index: 1000;
	visibility: visible;
}

.swiper-slide-prev {
	visibility: visible;
}

.swiper-slide-next {
	visibility: visible;
}

.swiper-slide-active {
	visibility: visible;
}

.swiper-slide__content {
	padding: 2.5rem;
}

.swiper-slide:hover {
	transition: all 0.3s ease-in-out;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.photo-house {
	border-radius: 1.5625rem 1.5625rem 0px 0px;
	margin-bottom: 2.875rem;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.name-house {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 1.2rem;
}

.address-house {
	font-size: 18px;
	color: var(--black-shade);
	margin-bottom: 2.5rem;
}

.price-house {
	font-size: 58px;
	font-weight: 700;
	margin-bottom: 1.2rem;
}

.parameters {
	color: var(--black-shade-2);
	font-size: 18px;
	display: flex;
	position: relative;
	margin-bottom: 3.4375rem;
}

.parameters__beds,
.parameters__bath {
	padding-right: 3.5rem;
}

.parameters__beds::before,
.parameters__bath::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 18px;
	background-color: var(--black-shade-2);
}

.parameters__beds::before {
	left: 85px;
}

.parameters__bath::before {
	left: 195px;
}

.details-house {
	font-size: 28px;
	font-weight: 600;
	display: block;
	text-align: center;
	padding: 1.6875rem 0;
	color: var(--primary);
	border-radius: 1.25rem;
	border: 1px solid var(--primary);
	transition: all 0.3s ease-in-out;
}

.details-house:hover {
	color: #fff;
	background-color: var(--primary);
	transition: all 0.3s ease-in-out;
}

.swiper-control {
	display: flex;
	justify-content: end;
}

.s-button-prev,
.s-button-next {
	cursor: pointer;
	padding: 2rem 1.5rem;
	border-radius: 0.5625rem;
	transition: all 0.3s ease-in-out;
	margin-left: 1rem;
}

.s-button-prev:hover,
.s-button-next:hover {
	background-color: var(--accent-3);
	transition: all 0.3s ease-in-out;
}

.s-button-prev:hover path,
.s-button-next:hover path {
	stroke: #fff;
	transition: all 0.3s ease-in-out;
}

.section-three {
	margin-bottom: 20rem;
}

.position-bubble {
	position: relative;
}

.position-bubble__image {
	position: absolute;
	left: -9rem;
	top: -20rem;
	z-index: -1;
}

.house-properties {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.house-properties__properties {
	display: flex;
	align-items: center;
	margin-bottom: 4rem;
}

.house-properties__title {
	font-size: 58px;
	font-weight: 700;
	line-height: 91px;
	max-width: 43.125rem;
	margin-bottom: 5rem;
}

.properties__text {
	margin-left: 1.5rem;
}

.properties__title {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: left;
}

.properties__subtitle {
	font-size: 20px;
	color: var(--black-shade);
}

.section-four {
	position: relative;
	margin-bottom: 32rem;
}

.vector-background {
	position: absolute;
	z-index: -1;
	right: 0;
	top: -18rem;
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.social__info {
	max-width: 43.125rem;
}

.social__title {
	font-size: 58px;
	font-weight: 700;
	line-height: 91px;
	margin-bottom: 2rem;
}

.social__subtitle {
	font-size: 20px;
	color: var(--black-shade);
	line-height: 38px;
	margin-bottom: 4rem;
}

.social__statistic {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.statistic__number {
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 1rem;
}

.statistic__name {
	font-size: 18px;
	text-transform: uppercase;
	color: var(--black-shade);
}

.social__media {
	position: relative;
	transition: all 0.3s ease-in-out;
}

.social__media:hover .media__account {
	transition: all 0.3s ease-in-out;
	right: 42rem;
	bottom: -30rem;
}

.social__media:hover .media__google-link {
	top: -23rem;
	right: 2rem;
	transition: all 0.3s ease-in-out;
}

.media__google-link {
	position: absolute;
	top: -19rem;
	right: 7rem;
	width: 9rem;
	height: 9rem;
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.176);
	transition: all 0.3s ease-in-out;
}

.media__google-link:hover {
	box-shadow: 0 2rem 6rem 0 rgba(0, 0, 0, 0.176);
	transition: all 0.3s ease-in-out;
}

.media__post {
	margin: 0 auto;
	text-align: center;
	max-width: 36.875rem;
	background-color: #fff;
	padding: 1rem;
	border-radius: 2rem;
	position: absolute;
	right: 10rem;
	top: -15rem;
}

.media__image {
	margin-bottom: 2rem;
}

.media__text {
	color: var(--black-shade);
	font-size: 18px;
	line-height: 1.5rem;
}

.media__account {
	text-align: center;
	width: 15rem;
	border-radius: 1rem;
	padding: 1.5rem;
	background-color: #fff;
	z-index: 1;
	position: absolute;
	right: 35rem;
	bottom: -25rem;
	box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
	transition: all 0.3s ease-in-out;
}

.media__avatar {
	border-radius: 50%;
	background-color: #f3c98b;
}

.media__nickname {
	font-size: 20px;
	font-weight: 700;
	margin: 0.5rem 0 1rem;
}

.media__statistic {
	color: #fff;
}

.media__info {
	margin: 0.5rem 0;
	text-align: center;
	padding: 1rem 0;
	border-radius: 0.5rem;
}

.media__info:nth-child(1) {
	background-color: var(--accent-3);
}
.media__info:nth-child(2) {
	background-color: var(--primary);
}

.section-five {
	position: relative;
	margin-bottom: 20rem;
}

.wrapper {
	background-color: #fdf6ed;
}

.testimonials {
	display: flex;
	justify-content: end;
	align-items: center;
	position: relative;
}

.testimonials__info {
	max-width: 42.5rem;
	margin: 12rem 0;
}

.testimonials__suptitle {
	color: var(--primary);
	font-size: 18px;
	letter-spacing: 8.01px;
	margin-bottom: 0.7rem;
	text-transform: uppercase;
}

.testimonials__title {
	font-size: 58px;
	font-weight: 700;
	line-height: 5.8rem;
	margin-bottom: 2.6rem;
}

.testimonials__text {
	font-size: 24px;
	line-height: 2.6rem;
	margin-bottom: 3.6rem;
}

.testimonials__author {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 1rem;
}

.testimonials__profession {
	color: var(--black-shade);
	font-size: 18px;
}

.testimonials__decor,
.testimonials__decor1,
.testimonials__decor2 {
	position: absolute;
}

.testimonials__decor1 {
	right: 50rem;
	top: -18rem;
}

.testimonials__decor2 {
	right: -4rem;
	top: -28rem;
}

.testimonials__image {
	position: absolute;
	bottom: -0.1rem;
	left: -7rem;
}

.section-six {
	margin-bottom: 20rem;
}

.form-email {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.form-email__info {
	max-width: 43.75rem;
}

.form-email__title {
	font-size: 58px;
	font-weight: 700;
	line-height: 91px;
	margin-bottom: 2rem;
}

.form-email__text {
	color: var(--black-shade);
	font-size: 20px;
	line-height: 38px;
}

.form-email__subscribe {
	position: relative;
}

.form-email__input {
	color: var(--black-shade);
	padding: 2.4rem;
	border: 1px solid var(--primary);
	border-radius: 1.25rem;
	width: 40rem;
}

.form-email__button {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding: 1.3rem 3rem;
	background-color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 15px;
	position: absolute;
	right: 1rem;
	top: 0.8325rem;
	transition: all 0.3s ease-in-out;
}

.form-email__button:hover {
	transition: all 0.3s ease-in-out;
	color: var(--primary);
	background-color: #fff;
}

.form-email__svg1,
.form-email__svg2,
.form-email__svg3 {
	position: absolute;
}

.form-email__svg1 {
	left: -8.875rem;
	top: -6.25rem;
}

.form-email__svg2 {
	right: -70px;
	bottom: 30px;
	z-index: -1;
}

.form-email__svg3 {
	right: -8.75rem;
	bottom: -12.5rem;
}

.footer__navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}

.footer__image {
	margin-bottom: 2.4rem;
}

.footer__text {
	max-width: 17rem;
	margin-bottom: 2rem;
	line-height: 1.8125rem;
}

.footer__title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2.7rem;
}

.footer__links {
	display: block;
	color: var(--black);
	margin-bottom: 1.5rem;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.footer__links::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #18272f;
	bottom: -5px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out;
}

.footer__links:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.footer__social-links {
	display: flex;
	justify-content: space-between;
}

.footer__social-link {
	opacity: 0.5;
	transition: all 0.2s ease-in-out;
}

.footer__social-link:hover {
	opacity: 1;
	transition: all 0.2s ease-in-out;
}

.footer__copyright {
	color: var(--black-shade);
	border-top: 1px solid var(--black-shade-2);
	margin: 0 auto;
	text-align: center;
}

.footer__copyright-title {
	padding: 1.5rem 0;
}

@media (max-width: 1280px) {
	.header {
		margin-bottom: 100px;
	}

	.navigation__link {
		margin-left: 50px;
	}

	.search {
		height: 200px;
	}
	.search__filter-result {
		font-size: 2rem;
	}

	.search__filter {
		padding: 20px 55px 20px;
	}

	.search__filter-category {
		margin: 20px -2px 21px 82px;
	}
	.search__filter-category:last-of-type {
		margin-right: 35px;
	}
	.search__filter-category::after {
		right: -30px;
	}

	.filter {
		margin-right: 75px;
		font-size: 1.3rem;
	}

	#active::before {
		bottom: -21px;
	}

	.swiper-slide__content {
		padding: 1.5rem;
	}

	.price-house {
		font-size: 50px;
	}

	.parameters__beds,
	.parameters__bath {
		padding-right: 2rem;
	}

	.parameters__beds::before {
		left: 71px;
	}

	.parameters__bath::before {
		left: 158px;
	}
}

@media (max-width: 1100px) {
}

@media (max-width: 1020px) {
	.header {
		padding: 25px 0;
		margin-bottom: 65px;
	}
	.header ul {
		font-size: 1.2rem;
	}

	.home__title {
		line-height: 4rem;
	}

	.title {
		font-size: 3.125rem;
	}
	.home__subtitle {
		margin-bottom: 6.875rem;
	}
	.regestration {
		margin-left: 40px;
	}
	.search {
		height: 170px;
	}

	.search__filter-result {
		font-size: 1.5rem;
	}

	.search__button {
		font-size: 20px;
		padding: 15px 25px;
	}

	.search__filter {
		padding: 15px 20px 15px;
	}

	.search__filter-category {
		margin: 25px 0 21px 50px;
	}

	.search__filter-category::after {
		content: none;
	}

	#active::before {
		bottom: -17px;
	}

	.search__filter-name {
		font-size: 1rem;
		margin-bottom: 0px;
	}

	.filter {
		margin-right: 40px;
		font-size: 1.2rem;
	}

	.navigation__link {
		margin-left: 35px;
	}

	.regestration {
		padding: 5px 15px;
	}

	.filter {
		margin-right: 1.5625rem;
	}
}

@media (max-width: 890px) {
	.title {
		font-size: 2.5rem;
	}
}

@media (max-width: 780px) {
	.navigation__menu {
		position: relative;
		display: none;
	}

	.menu {
		text-align: center;
		position: relative;
		box-sizing: border-box;
		margin-right: 1.6rem;
	}

	.menu::after,
	.menu::before {
		content: "";
		position: absolute;
		transition: all 0.1s ease-in-out;
	}

	.menu,
	.menu::after,
	.menu::before {
		height: 3px;
		width: 30px;
		border-radius: 9999px;
		background-color: var(--primary);
	}

	.menu::after {
		top: 10px;
		right: 0;
	}

	.menu::before {
		bottom: 10px;
		right: 0;
	}

	.menu.menu-active {
		z-index: 2;
		width: 0;
		transition: width 0.1s ease-in-out 0.2s;
	}

	.menu.menu-active::after {
		top: 0;
		transition: top 0.1s ease-in-out;
	}

	.menu.menu-active::before {
		bottom: 0;
		transition: bottom 0.1s ease-in-out;
	}

	.menu.menu-active::after {
		transform: rotate(45deg);
		transition: transform 0.1s ease-in-out 0.3s;
	}

	.menu.menu-active::before {
		transform: rotate(-45deg);
		transition: transform 0.1s ease-in-out 0.3s;
	}

	.navigation__menu.navigation-active {
		position: absolute;
		display: block;
		width: 100%;
		height: 100vh;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #f3c98b;
		padding: 0;
		margin: 0;
	}

	.navigation__menu-list {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 10rem;
	}

	.navigation__menu.navigation-active .navigation__link {
		display: block;
		font-size: 2.5rem;
		margin: 1rem auto;
	}

	.regestration {
		margin: 2rem 0 0 0;
		display: block;
		padding: 2rem 5rem;
		font-size: 2.5rem;
	}
}

@media (max-width: 771px) {
	.selection {
		margin-bottom: 2.25rem;
	}
	.swiper-wrapper {
		margin-bottom: 2.5rem;
	}

	.form-control {
		font-size: 23px;
		margin-left: 1.5rem;
	}

	.form-control:nth-child(1) {
		margin-left: 1rem;
	}

	.swiper-slide__content {
		padding: 1rem;
	}

	.swiper-slide {
		border-radius: 2rem;
	}

	.photo-house {
		margin-bottom: 1.875rem;
	}

	.name-house {
		font-size: 20px;
		margin-bottom: 0.6rem;
	}

	.address-house {
		font-size: 15px;
		margin-bottom: 1.5rem;
	}

	.price-house {
		font-size: 40px;
	}

	.parameters {
		margin-bottom: 2.4375rem;
		font-size: 15px;
	}

	.parameters__beds::before {
		left: 61px;
	}

	.parameters__bath::before {
		left: 140px;
	}

	.parameters__beds::before,
	.parameters__bath::before {
		height: 15px;
	}

	.details-house {
		font-size: 20px;
		padding: 1rem 0;
	}
}

@media (max-width: 730px) {
	.search {
		height: auto;
	}

	.search__parameters {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.search__filter-category:last-of-type {
		margin-right: 0;
	}

	.search__button {
		font-size: 20px;
		padding: 15px 25px;
		margin: 0 1rem 1rem;
	}
}

@media (max-width: 690px) {
	.navigation__menu-list {
		top: -5rem;
	}
	.home__title {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.home__subtitle {
		text-align: center;
	}
}

@media (max-width: 400px) {
	.home__title {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.home__subtitle {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
}

@media (max-width: 280px) {
	.navigation__menu.navigation-active .navigation__link {
		display: block;
		font-size: 1.5rem;
		margin: 1rem auto;
	}

	.regestration {
		padding: 1rem 2rem;
		font-size: 1.5rem;
	}
}
